<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.RoleMapper">

    <!--解析角色map-->
    <resultMap id="UserMap" type="Pojo.Role">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>


    <!--新增某个用户角色-->
    <insert id="insertRoleUser" parameterType="java.util.List">
        <foreach collection="list" item="m" separator=";">
            insert into user_role (user_id,role_id) values (#{m.userId},#{m.roleId})
        </foreach>
    </insert>
    <!--删除某个用户一个或多个角色   完-->
    <delete id="delectRoleUser" parameterType="java.util.List">
        <foreach collection="list" item="m" separator=";">
            delete from user_role where user_id=#{m.userId} and role_id=#{m.roleId}
        </foreach>
    </delete>
    <!--修改某个用户的某个角色   完-->
    <update id="updateRoleUser" parameterType="Pojo.UserRole">
        update user_role set role_id=#{setroleId} where user_id=#{userId}  and role_id=#{roleId}
    </update>
    <!--添加一个新的角色   完-->
    <insert id="insertRoleByAll" useGeneratedKeys="true" keyProperty="id" parameterType="Pojo.Role">
        INSERT INTO Role (name,remark,create_by,create_time,del_flag) values (#{name},#{remark},#{createBy},now(),0)
    </insert>
    <!--添加一个新的角色同时为它添加权限   完-->
    <insert id="insertRoleMenu" parameterType="java.util.List">
        <foreach collection="list" item="m" separator=";">
            insert into Role_Menu(Role_id,menu_id)values
            (#{m.roleId},#{m.menuId})
        </foreach>
    </insert>
    <!--查询所有角色    完-->
    <select id="selectRoleAll" resultMap="UserMap">
        select * from role  where del_flag=0
    </select>
    <!--删除角色   完-->
    <update id="deleteRoleById" parameterType="java.util.List">
        update Role set del_flag=-1 where id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
</mapper>